{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url 'admin:alerts_node_changelist' %}">Nodes</a>
  &rsaquo; <a href="{% url 'admin:alerts_node_change' node.pk %}">{{ node.instance_id }}</a>
  &rsaquo; Re-evaluate
</div>
{% endblock %}

{% block content %}
<p>
  Re-evaluate the open alerts for node
  <strong>{{ node.instance_id }}</strong> against its current config.
  The following changes will be applied:
</p>

<div class="results">
<table>
  <thead>
    <tr>
      <th>Checker</th>
      <th>Severity</th>
      <th>Status</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for change in report.changes %}
    <tr>
      <td>{{ change.alert.labels.checker }}</td>
      <td>{{ change.old_severity }} &rarr; {{ change.new_severity }}</td>
      <td>{{ change.old_status }} &rarr; {{ change.new_status }}</td>
      <td>{{ change.value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<form method="post">
  {% csrf_token %}
  <input type="hidden" name="confirm" value="1">
  <div class="submit-row">
    <input type="submit" value="Confirm" class="default">
    <a href="../../" class="button cancel-link">Cancel</a>
  </div>
</form>
{% endblock %}
